* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    /*Any padding which we give or any border-size we give that size should be calculated inside the height and width*/
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.nav-logo {
    height: 50px;
    width: 113px;
}

.logo {
    background-image: url("images/amazon-logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border {
    border: 2px solid transparent;
}

.border:hover {
    border: 2px solid white;
}

/**/
.address-deliver {
    color: #CCCCCC;
    font-size: 0.85rem;
    margin-left: 15px;

}

.address-location {
    color: white;
    font-size: 1rem;
    margin-left: 5px;
}

.address-icon {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.nav-search {
    display: flex;
    background-color: rgb(213, 140, 6);
    width: 600px;
    height: 40px;
    border-radius: 4px;
    justify-content: space-evenly;
}

.search-select {
    background-color: #f3f3f3;
    width: 50px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    text-align: center;
    border: none;
}

.nav-search:hover {
    border: 2px solid rgb(213, 140, 6);
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: #0F1111;
}

.nav-first {
    font-size: 0.7rem;
}

.nav-second {
    font-size: 0.85rem;
    font-weight: 700;
}

.nav-cart i {
    font-size: 30px;
}

.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
}

.panel {
    height: 45px;
    background-color: #232f3e;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.panel-ops {
    width: 80%;

}

.panel-ops p {
    display: inline;
    font-size: 0.85rem;
    margin-left: 15px;
}

.panel-all i {
    font-size: 20px;
}

.panel-deals {
    font-size: 0.95rem;
    font-weight: 700;
}