* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    /*Any padding which we give or any border-size we give that size should be calculated inside the height and width*/
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.nav-logo {
    height: 50px;
    width: 113px;
}

.logo {
    background-image: url("images/amazon-logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border {
    border: 2px solid transparent;
}

.border:hover {
    border: 2px solid white;
}

/**/
.address-deliver {
    color: #CCCCCC;
    font-size: 0.85rem;
    margin-left: 15px;

}

.address-location {
    color: white;
    font-size: 1rem;
    margin-left: 5px;
}

.address-icon {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}