* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    /*Any padding which we give or any border-size we give that size should be calculated inside the height and width*/
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: #0F1111;
    color: white;
}

.nav-logo {
    height: 50px;
    width: 113px;
}

.logo {
    background-image: url("images/amazon-logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}